h1 {
    font-size: ;
    font-family: ;
    padding: ;
    margin: ;
    font-weight: ;
    text-decoration: ;
    color: ;
    background-color: ;
}

h2 {
    font-size: ;
    font-family: ;
    padding: ;
    margin: ;
    font-weight: ;
    color: ;
    background-color: ;
}

p {
    font-family: ;
    font-size: ;
    padding: 4px;
    margin: 4px;
    color: #090a0a;
    background-color: #646969;
}

.logo {
    background-size: cover 1px grey;
    background-image: url();
    background-color: https://appacademy.github.io/styleguide/assets/logo/logo-emblem-black-1000.png;
    height: 50px;
    width: 50px;
}
